
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

:root{
  background: linear-gradient(40deg, #ff008c 0%, #000000 51%, #a200ff 75%);
  height: max-content;


}
/* body {
  background: linear-gradient(141deg, #000000 0%, #1fc8db 51%, #2cb5e8 75%);
  font-size: 16px;
  width: 100%;
  height: 100%;
} */
.contai { 
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 15%;
}
.containerr { 

  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 0 0 0;
}
h5{
  color: white;
}
h3{
  color: white;
}
h2{
  color: white;
}
h1{
  color: white;
}
.boxx{
  justify-content: center;
  align-items: center;
  
  top:25%;
  /* translate: translate(-50%, -50%); */
  font-size: 16px;
  width: 100%;
  height: max-content;
}
.uldir{
  flex-direction: row;
}
ul{
  
  margin: 5%;
  width: auto;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 25px 0;
  /* border-radius: 25px;
  border: 0.1px solid #099FFF;
  background-color: transparent;
  box-shadow: 0 4px 8px #00FFFF, 0 6px 20px 0 rgba(0,0,0,0.19); */
}
p{
  color: white;
  display: flex;
  
  background-color: transparent;
 
}
li {
  padding: 0px;
  margin: 6.5px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
  
}
.btn {
  border: 0;
  border-radius: 6px;
  color: white;
  width: 15em;
  height: 1.5em;
  font-size: 1em;
  letter-spacing: 1px;
  justify-content: center;
  text-align: center;
  -ms-text-size-adjust: auto;
  /* padding: 0 1em 0 1em; */
  cursor: pointer;
  font-weight: 900;
  text-transform: capitalize;

}
.box {
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  border-radius: 5px;
  color:white;
  padding: 0px;
  height: 190px;
  width: 250px;
  box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
  text-align: center;
  transition: 0.3s;
}
.box:hover {
  background: linear-gradient(45deg, #0059ff 30%, #f01919 90%);
  border-radius: 5px;
  color:white;
  /* height: 250px; */
  transform: scale(1.09);
  width: 250px;
  box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
}
.btn-color {
  
  background-color: transparent;
  box-shadow: 0 4px 8px #00FFFF, 0 6px 20px 0 rgba(0,0,0,0.19);
  transition: transform 0.32s;
}

.btn-color:focus,
.btn-color:hover {
  transform: scale(1.09);
  /* background-color: #f18119; */
  /* color: #404040; */
}
.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: 
#00ffd5;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
background: -moz-linear-gradient();
  transform-origin: bottom left;
}


@media screen and (min-width:100px) and (max-width:500px){
  .boxx{
    font-size: 10px;
  }
  .postTitle{
    font-size: 1.8rem;
  }
  .linkText{
    font-size: 0.7rem;
  }
  .contactIcons{
    font-size: 1.5rem;
  }
  .card{
    background: transparent;
  }
}